.celtic-header {
  background: var(--md-source);
  color: var(--md-on-primary);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-headline-large {
  font-family: 'Calistoga', serif;
  color: var(--md-on-primary);
  text-align: center;
}

.mat-title {
  font-family: 'Calistoga', serif;
  color: var(--md-on-primary);
  text-align: center;
}
