.celtic-footer {
  background: var(--md-secondary);
  color: var(--md-on-secondary);
  padding: 0;
}

.mat-body-medium {
  font-size: 1rem;
  color: var(--md-on-secondary);
}

.celtic-footer div {
  text-align: left;
  font-size: 1rem;
}
